<!-- 具体配置请根据自己的APP来调整 -->
<widget id="A9999999999"  version="0.0.1">
<name>APP名称</name>
<description></description>
<author email="86727767@qq.com" href="">蔚然成霖</author>
<!-- 开发模式请注释掉 -->
<!-- <content src="dev/index.html" /> -->
<content src="dist/home.html" />
<!-- / -->
<access origin="*" />
<preference name="appBackground" value="rgba(255,255,255,1)"/>
<preference name="windowBackground" value="rgba(255,255,255,0)"/>
<preference name="frameBackgroundColor" value="rgba(255,255,255,0)"/>
<preference name="pageBounce" value="false"/>
<preference name="hScrollBarEnabled" value="false"/>
<preference name="vScrollBarEnabled" value="true"/>
<preference name="autoLaunch" value="false"/>
<preference name="statusBarAppearance" value="true"/>
<preference name="fullScreen" value="false"/>
<preference name="autoUpdate" value="true"/>
<preference name="smartUpdate" value="true"/>
<preference name="debug" value="true"/>
<preference name="allowKeyboardExtension" value="true"/>
<preference name="softInputMode" value="auto"/>
<preference name="urlScheme" value="jzrb"/>
<preference name="querySchemes" value="weixin,sinaweibo,mqq,alipay" />
<preference name="userAgent" value="apicloud"/>
<preference name="fileShare" value="false"/>
<preference name="launcher" value="true"/>
<permission name="readPhoneState"/>
<permission name="call"/>
<permission name="sms"/>
<permission name="camera"/>
<permission name="record"/>
<permission name="location"/>
<permission name="fileSystem"/>
<permission name="internet"/>
<permission name="bootCompleted"/>
<permission name="hardware"/>
<permission name="contact"/>
</widget>
