<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
    <meta content="telephone=no" name="format-detection" />
  </head>
  <!--无背景的document-->
  <body style="background-color:transparent">
    <div id="app"></div>
  </body>
</html>
